@inherits LayoutComponentBase

<div class="sidebar">
    <Menu />
</div>

<div class="main">
    <div class="text-center">
       <h3>Расчёт стоимости контрактов</h3>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>